---
#
---
@import "base";

/* Add your CSS code here */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.git-info {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  font-size: 14px;
  align-items: center;
}

.git-info a {
  text-decoration: none;
}

.social-media-links {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.license-info {
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  align-items: center;
}
