---
#
---
@import "base";

/* Add your CSS code here */

.git-info {
    display: flex;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .git-info a {
    text-decoration: none;
  }
  
  .icon-star:before {
    content: '\f841';
  }
  
  .icon-fork:before {
    content: '\e13b';
  }
  
  .icon-branch:before {
    content: '\f126';
  }
  
  .icon-commit:before {
    content: '\f386';
  }
  