---
#
---
@import "base";

/* Add your CSS code here */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.git-info {
  display: flex;
  gap: 5px;
  font-size: 7px;
  align-items: left;
}

.git-info a {
  text-decoration: none;
}

.social-media-links {
  display: flex;
  align-items: center;
}

.license-info {
  display: flex;
  align-items: right;
}
