<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Blog</h2></a>
<a href="{{ "/community" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Community</h2></a>
<a href="{{ "/education" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Education</h2></a>
<a href="{{ "/ToS" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Policy</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><img src="assets/rss.png" alt="RSS" class="header-link"/></a>
